html{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0 auto;
    background-color: #111111;
}

h1 {
    margin: 0 auto;
    color: #e12a2b;
    font-size: 37px;
    font-family: 'Impact', sans-serif;
}

h3 {
    margin: 0 auto;
    color: #f3f3f3;
}

h4{
    margin: 0 auto;
    color: #9c9c9c;
    font-size: 22px;
}


nav {
    margin-left: 58px;
    padding-top: 12px;
    padding-bottom: 64px;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

.container{
    margin-left: 58px;
    margin-top: 11px;
    margin-bottom: 47px;
}

.row {

    transition: 1s transform;
    margin: 0 auto;
    width: 100%;
    padding-top: 11px;
    -webkit-transition-duration: 0.5s;
}

.tile {
    width: 215px;
    height: 120px;
    font-size: 16px;
    background-color: #bcb7be;
    box-sizing: border-box;
    transition: 1s transform;
    transform-origin: top center;
    margin-right: 4px;
    position: relative;
    backface-visibility: hidden;
    display: inline-block;
    -webkit-transition-duration: 0.5s;
}

.hover {
    opacity: 0;
}

.hover:hover {
    opacity: 0.3;
    touch-action: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.78);
    opacity: 0;
    transition: opacity;
    touch-action: none;
}

.tile-scale {
    transform: scale(1.6) translate(0, -15px);
}


.shiftLeft {
    transform: translate(-65px, 0);
}

.shiftRight {
    transform: translate(65px, 0);
}

.play-icon{
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0;
    transition: opacity;
    -webkit-transition-duration: 0.5s;
}

.play-icon-hover {
    opacity: 1;
}

.play-icon-outer{
    opacity: 1;
    margin: 0 auto;
    width: 45px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid #f2efef;
    overflow: auto;
}

.play-icon-inner{
    background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    width: 45px;
    height: 44px;
    border-radius: 50%;
    overflow: auto;
}

.play-icon-arrow{
    opacity: 0.9;
    width: 0;
    height: 0;
    margin-top: 11px;
    margin-left: 15px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 19px solid #f14b4e;
}